
form {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 10%;
    padding-top: 5px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px grey;
    box-shadow: 2px 3px 3px 3px #888888;
    border-radius: 5px;

}

input[type="text"],
input[type="number"] {
    width: 60%;
    height: 30px;
    margin-top: 10px;
    border-radius: 5px;
    border-width: 2px;
    border-color:rgb(218, 213, 213) ;
    outline: none;
    
}

input[type="submit"] {
    width: 60%;
    height: 30px;

}

h1 {
    color: black;
    text-align: center;
}

