<section class="container">
    <form onsubmit="return saveProduct(this)">
        <div class="mb-3">
          <label for="title" class="form-label">Título</label>
          <input type="text" class="form-control" id="title" aria-describedby="titleHelp" name="title" required>
        </div>
        <div class="mb-3">
          <label for="price" class="form-label">Precio</label>
          <input type="number" class="form-control" id="price" name="price" required>
        </div>
        <div class="mb-3">
            <label for="thumbnail" class="form-label">Url</label>
            <input type="text" class="form-control" id="thumbnail" name="thumbnail" required>
        </div>
        <input type="submit" class="btn btn-primary" value="Enviar">
    </form>
</section>
